@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.home-container {
  animation: fadeIn 1s ease-in-out;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 24px;

  .info-container {
    margin-bottom: 48px;
    width: 100vw;
    
    h1 {
      font-size: 30px;
      margin: auto;
      margin-bottom: 48px;
    }

    h2 {
      font-size: 22px;
      margin-top: 48px;

    }

    .about-me {
      font-size: 18px;
      margin-bottom: 32px;
    }
  }

  .projects-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 48px;

    h2 {
      margin-bottom: 30px;
    }

    .project-card-container {
      display: flex;
      flex-direction: row;
      overflow-x: auto;
      max-width: 100%;

      .project-card {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 300px;
        margin-right: 32px;

        img {
          width: 200px;
          height: 200px;
          border-radius: 20%;
        }

        .project-info {
          .project-links {
            a {
              text-decoration: none;
              color: black;
              font-size: 16px;
              margin-right: 4px;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: column;

    .footer-info-container {
      display: flex;
      padding: 0 16px;
      margin-bottom: 32px;

      .footer-info-field {
        margin-right: 64px;
        h3 {
          font-size: 18px;
          margin-top: 32px;
          margin-bottom: 0;
        }

        p {
          font-size: 16px;
          margin-top: 8px;
        }

        .social-icon {
          cursor: pointer;
          width: 28px;
          height: 28px;
          object-fit: fill;
          margin-right: 8px;
        }
      }
    }
    hr.solid {
      width: 100%;
      border-top: 1px solid #bbbbbb;
    }
  }
}
