.footer {
  display: flex;
  flex-direction: column;
  // position: fixed; // or absolute, fixed
  // z-index: 10; // Adj

  .info-container {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    margin-bottom: 32px;

    .info-field {
      h3 {
        font-size: 18px;
        margin-top: 32px;
        margin-bottom: 0;
      }

      p {
        font-size: 16px;
        margin-top: 8px;
      }

      .social-icon {
        cursor: pointer;
        width: 24px;
        height: 24px;
        object-fit: fill;
      }
    }
  }
  hr.solid {
    width: 100%;
    border-top: 1px solid #bbbbbb;
  }
}
